<div class="card">
  <div id="card_header_dependent" class="card-header ch-alt m-b-20"></div>

  <div class="card-body card-padding">
    <%= simple_form_for([@people_associated, @dependent], html: { class: "", role: "form" }, remote: true) do |f| %>
    <div id="people_associated_dependent_error"></div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group fg-line">     
          <%= f.input :people_associated_id, as: :hidden, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group fg-line">     
          <%= f.label :name, class: "fg-label" %>                   
          <%= f.input :name, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="form-group fg-line">
          <%= f.label :birthdate, class: "fg-label m-b-1" %>
          <%= f.input :birthdate, as: :string, input_html: {class: "form-control mask-date", value: f.object.birthdate ? I18n.l(f.object.birthdate) : ''}, label: false  %>  


        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group fg-line">
          <%= f.label :benefit_until, class: "fg-label m-b-1" %>
          <%= f.input :benefit_until, as: :string, input_html: {class: "form-control mask-date", value: f.object.benefit_until ? I18n.l(f.object.benefit_until) : ''}, label: false  %>  
        </div>
      </div>


      <div class="col-sm-4">
        <div class="form-group fg-line">     
          <%= f.label :degree_of_kinship, class: "fg-label" %>                   
          <%= f.input :degree_of_kinship, collection: Dependent::DEGREE_OF_KINSHIP, input_html: {class: "selectpicker", "data-live-search": true, "data-name": "other_manual_#{@dependent.id}"}, label: false %>
        </div>
      </div>

      
      <div id="other_manual_<%=@dependent.id%>" class="form-group" style="display:<%= @dependent.degree_of_kinship_other? ? 'block' : 'none' %>;"> 
        <div class="col-sm-2">
          <div class="fg-line">    
            <%= f.label :other_manual, class: "fg-label" %> 
            <%= f.input :other_manual, input_html: {class: "form-control"}, label: false %>
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="form-group fg-line">
            <%= f.label :phone, class: "fg-label" %>
            <%= f.input :phone, input_html: {class: "input-sm form-control fg-input mask-phone-fixo", "data-mask": "(00) 0000-0000"}, label: false %>                        
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group fg-line">
            <%= f.label :cell_phone, class: "fg-label" %>
            <%= f.input :cell_phone, input_html: {class: "input-sm form-control fg-input mask-phone", "data-mask": "(00) 0000-0000"}, label: false %>                        
        </div>
      </div>

      <div class="col-sm-4">
          <div class="cpf form-group fg-line">
              <%= f.label :cpf, class: "fg-label" %>
              <%= f.input :cpf, input_html: {class: 'input-sm form-control fg-input input-mask mask-cpf', "data-mask": "000.000.000-00" , "data-id": @dependent.id }, label: false %>   
          </div>
      </div>

      <div class="col-sm-4">
          <div class="form-group fg-line ">
              <%= f.label :rg, class: "fg-label" %>
              <%= f.input :rg, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="form-group fg-line ">
              <%= f.label :dispatcher_organ, class: "fg-label" %>
              <%= f.input :dispatcher_organ, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
          </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">
        <div class="form-group"> 
          <div class="fg-line">    
            <%= f.label :validate_statement, class: "fg-label" %> 
            <%= f.input :validate_statement, input_html: {class: "form-control"}, label: false %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="checkbox m-b-15">
          <label>
            <%= f.check_box :with_special_needs %>
            <i class="input-helper"></i> 
            <%= Dependent.human_attribute_name :with_special_needs %>                            
          </label>
        </div>        
      </div>

      <div class="col-sm-6">
        <div class="checkbox m-b-15">
          <label>
            <%= f.check_box :is_student %>
            <i class="input-helper"></i> 
            <%= Dependent.human_attribute_name :is_student %>                            
          </label>
        </div>        
      </div>   

      <div class="col-sm-6">
        <div class="checkbox m-b-15">
          <label>
            <%= f.check_box :active %>
            <i class="input-helper"></i> 
            <%= Dependent.human_attribute_name :active %>                            
          </label>
        </div>        
      </div>   


      <div class="card-header">
        <h2><i class="zmdi zmdi-collection-text"></i> Dados de acesso</h2>
      </div>


      <div class="card-body card-padding">
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group fg-line">     
                      <%= f.label :username, class: "fg-label" %>                   
                      <%= f.input :username, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                  </div>
              </div>

              <div class="col-sm-4">
                  <div class="form-group fg-line">     
                      <%= f.label :password, class: "fg-label" %>                   
                      <%= f.input :password, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                  </div>
              </div>

              <div class="col-sm-4">
                  <div class="form-group fg-line">     
                      <%= f.label :password_confirmation, class: "fg-label" %>                   
                      <%= f.input :password_confirmation, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                  </div>
              </div>
          </div>
        </div>       
    </div>


    <%= f.button :submit, onclick: "showPreLoader()", class: "btn bgm-green waves-effect" %>     

    <%= link_to people_associated_dependents_path, remote: true, onclick: "showPreLoader()", "data-toggle": "tooltip", "data-placement":"bottom", "title": "Voltar", class: 'btn btn-primary waves-effect' do %>
    <i class="zmdi zmdi-arrow-back"></i>
    <% end %>

    <% end %>    
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    loadSelectPicker();
    
    $(".mask-phone").mask("(99) 9 9999-9999");
    $(".mask-phone-fixo").mask("(99) 9999-9999");
    $(".mask-cpf").mask("999.999.999-99");

    $('#dependent_degree_of_kinship').change(function(){
      var key = $(this).attr('data-name');
      if( parseInt($(this).val()) == 12 ) {
        $("#"+key).show();        
      } else {
        $("#"+key).hide();
        $("#dependent_other_manual").val("");
      }

    });
  });
</script>