<div class="card">
  <div class="card-header ch-alt m-b-20">                                        
    <%= link_to inventories_path, class: 'btn btn-default waves-effect' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
    <% end %>
    <%= link_to edit_inventory_path(@inventory), class: 'btn btn-primary waves-effect' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
    <% end %>
  </div>

  <div class="card-body card-padding">  
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group fg-line">     
         <%= label(:inventory, :description, class: "fg-label") %>:              
         <%= @inventory.description %>
       </div>
     </div>
   </div>

   <div class="row">
    <div class="col-sm-4">
      <div class="form-group fg-line">     
        <%= label(:inventory, :opening_balance, class: "fg-label") %>:
        <%= @inventory.opening_balance %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group fg-line">     
        <%= label(:inventory, :minimum_balance, class: "fg-label") %>:                
        <%= @inventory.minimum_balance %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group fg-line">     
        <%= label(:inventory, :unit, class: "fg-label") %>:
        <%= @inventory.unit %>
      </div>
    </div>
  </div> 
</div>



<div role="tabpanel">
  <ul class="tab-nav" role="tablist">
    <li class="active">
      <a href="#entrada" aria-controls="entrada" role="tab" data-toggle="tab">Entradas</a>
    </li>
    <li>
      <a href="#saida" aria-controls="saida" role="tab" data-toggle="tab">Saídas</a>
    </li>
  </ul>


  <div class="tab-content p-t-0 p-b-0">
    <div role="tabpanel" class="tab-pane active" id="entrada">        
      <div class="card-body card-padding">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><%= InventoryMovement.human_attribute_name(:created_at) %></th>
              <th><%= InventoryMovement.human_attribute_name(:balance) %></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @entries_pages) do |entry| %>
            <td><%=I18n.l entry.created_at, format: :long %></td>                 
            <td><%= entry.balance %></td>                 
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @entries_pages, param_name: :entries_page, renderer: BootstrapPagination::Rails %>
      </div>
    </div>        


    <div role="tabpanel" class="tab-pane" id="saida">   
      <div class="card-body card-padding">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><%= InventoryMovement.human_attribute_name(:created_at) %></th>             
              <th><%= InventoryMovement.human_attribute_name(:balance) %></th>
            </tr>
          </thead>

          <tbody>
            <%= content_tag_for(:tr, @outputs_pages) do |output| %>
            <td><%=I18n.l output.created_at, format: :long %></td>                 
            <td><%= output.balance %></td>                 
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @outputs_pages, param_name: :outputs_page, renderer: BootstrapPagination::Rails %>
      </div>   
    </div>   

  </div>
</div> 

<div class="card-body card-padding">
  <% 
  @entry_amount = @inventory.opening_balance + @entries.sum(:balance)
  @output_amount = @outputs.sum(:balance)
  %>
  Entradas: <%= @entry_amount %>
  Saídas: <%= @output_amount %>
  Restam: <%= @entry_amount - @output_amount %>
</div>          

</div>