<div class="card">
  
  <%= simple_form_for(@professional, html: { class: "", role: "form" }) do |f| %>
  <%= f.error_notification %>
  <div class="card-header">
    <h2><i class="fa fa-user-md"></i> Dados do <%= Professional.model_name.human %></h2>
  </div>

  <div class="card-body card-padding">
    <div class="row">
      
      <div class="col-sm-4">    
        <div class="form-group fg-line ">
          <%= f.label :name, class: "fg-label" %>
          <%= f.input :name, input_html: {class: "input-sm form-control fg-input"}, label: false %>
        </div>
      </div>

      <div class="col-sm-4">    
        <div class="form-group fg-line ">
          <%= f.label :cpf, class: "fg-label" %>
          <%= f.input :cpf, input_html: {class: 'input-sm form-control fg-input input-mask mask-cpf', "data-mask": "000.000.000-00"}, label: false %>
        </div>
      </div>

      <div class="col-sm-4">    
        <div class="form-group fg-line ">
          <%= f.label :rg, class: "fg-label" %>
          <%= f.input :rg, input_html: {class: "input-sm form-control fg-input"}, label: false %>
        </div>
      </div>         
      
      <div class="col-sm-4">    
        <div class="form-group fg-line ">
          <%= f.label :type_function, class: "fg-label" %>
          <%= f.input :type_function, collection: Professional::TYPES, input_html: {class: "selectpicker", "data-live-search": true}, label: false %>
        </div>
      </div>   


      <div class="col-sm-4">    
        <div class="form-group fg-line ">
          <%= f.label :advice, class: "fg-label" %>
          <%= f.input :advice, input_html: {class: "input-sm form-control fg-input"}, label: false %>
        </div>
      </div>   
    </div>
  </div>

  <% if !@professional.user.nil? %>
    <div class="card-header">
      <h2><i class="zmdi zmdi-collection-text"></i> Dados de acesso</h2>
    </div>


    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-4">
                <%= f.label "E-mail", class: "fg-label" %> <br>
                <%= best_in_place @professional.user, :email %>
            </div>  

            <div class="col-sm-4">
                <%= f.label "Nome de usuário", class: "fg-label" %> <br>
                <%= best_in_place @professional.user, :username %>
            </div>          
        </div>
    </div>
  <% end %>
  

  <div class="card-body card-padding">
    <%= submit_tag 'Criar e adicionar', class: "btn bgm-teal waves-effect", name: 'create_and_add' if !edit_mode? %>
    <%= f.button :submit, class: "btn bgm-green waves-effect" %>
    <%= link_to "Cancelar", professionals_path, class: "btn bgm-red waves-effect" %>
  </div>    

  <% end %>    
</div>

<script type="text/javascript">
    $(document).ready(function(){
        loadSelectPicker();
    })
</script>