<% @expired = false #Time.now.strftime("%Y-%m-%d") > @appointment_book_people.start_datetime.strftime("%Y-%m-%d") %>


<div class="page-header">
  <h1><%=l  @appointment_book_people.start_datetime, format: :short %> - <%=l  @appointment_book_people.end_datetime, format: :time %></h1>
</div>


<dl class="dl-horizontal">
  <dt>
    Reservado para:
  </dt>
  <dd>
    <%= @appointment_book_people.people_associated ? @appointment_book_people.people_associated.name : ( @appointment_book_people.dependent ?  @appointment_book_people.dependent.name : '')  %>
  </dd> 
  <dd> 
    <%= @appointment_book_people.dependent ?  "#{@appointment_book_people.dependent.degree_of_kinship_name} de #{@appointment_book_people.dependent.people_associated.name}" : '' %>
  </dd> 
  <dd> 
      <small><%= @appointment_book_people.people_associated.present? ? @appointment_book_people.people_associated.cell_phone1 :  (@appointment_book_people.dependent.present? ? @appointment_book_people.dependent.cell_phone : '')  %></small>
  </dd> 
  
    <% if @professional.lawyer? %>
      <dt>   
        Situação:
      </dt>
      <dd>       
        <%= @appointment_book_people.situation %>
      </dd>
    <% end %>  


  <div class="card-body card-padding">
    <% @canceled = @appointment_book_people.canceled #!@appointment_book_people.confirmed && !@appointment_book_people.unconfirmed? %> 
    <h3>
      <%= content_tag(:span, "Confirmado", class: "c-blue") if  @appointment_book_people.confirmed && !@appointment_book_people.showed %>
      <%= content_tag(:span, "Compareceu", class: "c-green") if @appointment_book_people.showed && !@canceled %>
      <% if @appointment_book_people.start_attendance && @appointment_book_people.stop_attendance  %>
        <br>
        <%= content_tag(:span, "Atendimento Finalizado", class: "c-orange") %>
      <% end %>
      <%= content_tag(:span, "Cancelado", class: "c-red") if @canceled %>

    </h3>
      
    
    <span><%= @appointment_book_people.observation %></span>
    
  </div>
</dl>


  <div class="modal-footer">
      <% if true #@appointment_book_people.unshowed? && !@canceled %>
        <%= link_to @expired ? "javascript:;" : professional_appointment_book_confirma_path(@professional, @appointment_book_people.appointment_book_id, { id: @appointment_book_people}), title: "Confirmar Agendamento", remote: true, class: "btn btn-info waves-effect", disabled: @expired ? 'disabled' : nil  do %>
          <%= content_tag(:i, nil, class: "zmdi zmdi-thumb-up") %>
          Confirmar
        <% end if @appointment_book_people.unconfirmed? && !@canceled %>

        <%= link_to @expired ? "javascript:;" : professional_appointment_book_compareceu_path(@professional, @appointment_book_people.appointment_book_id, { id: @appointment_book_people}), title: "Compareceu ao Agendamento", remote: true, class: "btn bgm-green waves-effect", disabled: @expired ? 'disabled' : nil  do %>
          <%= content_tag(:i, nil, class: "zmdi zmdi-thumb-up") %>
          Compareceu
        <% end if @appointment_book_people.unshowed? && !@canceled %>

        
        <%= link_to "javascript:;", title: "Cancelar Agendamento", class: "btn bgm-orange waves-effect cancel", disabled: @expired ? 'disabled' : nil do %>  
          <%= content_tag(:i, nil, class: "zmdi zmdi-thumb-down") %>
          Cancelar
        <% end if !@canceled && !@appointment_book_people.start_attendance && !@appointment_book_people.stop_attendance %>
        
        <%= link_to "javascript:;", title: "Excluir Agendamento", "data-id": @appointment_book_people.id, class: "btn btn-danger waves-effect delete", disabled: @expired ? 'disabled' : nil do %>
          <%= content_tag(:i, nil, class: "zmdi zmdi-delete") %>
          Excluir
        <% end  if !@appointment_book_people.start_attendance && !@appointment_book_people.stop_attendance %>
      <% end %>
  </div>
<% if !@expired %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".cancel").click(function() {
        swal({
              title: "Tem certeza?",
              text: "Deseja realmente cancelar esse agendamento!",
              type: "input",
              showCancelButton: true,
              cancelButtonColor: "#DD6B55",   
              confirmButtonText: "Sim!",   
              cancelButtonText: "Não!",   
              closeOnConfirm: false,   
              closeOnCancel: true, 
              inputPlaceholder: "Observação",
              showLoaderOnConfirm: true
            }, function (inputValue) {
              if (inputValue === false) return false;
              var url = "/profissionais/<%=@professional.id%>/agenda/<%= @appointment_book_people.id %>/cancela"
              $.ajax({
                url: url,
                type: 'GET',
                dataType: 'script',  
                data: { observation: inputValue },                
                beforeSend: function(xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))            
                },
                success: function() {
                  swal.close();
                }
              });
        });
      });


      $(".delete").click(function(e) {        
        var token = $(this).attr("data-id");

        swal({   
            title: "Tem certeza?",   
            text: "Deseja realmente deletar esse agendamento!",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Sim!",   
            cancelButtonText: "Não!",   
            closeOnConfirm: true,   
            closeOnCancel: true ,
            showLoaderOnConfirm: true
            }, function(isConfirm){   
              if (isConfirm) {                 
                var url = "/profissionais/<%=@professional.id%>/agenda/"+token;

                $.ajax({
                  url: url,
                  type: 'delete',
                  dataType: 'script',                  
                  beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))            
                  },
                  success: function() {
                  }
                });
              } 
        });

        e.stopImmediatePropagation();
      });
    });
  </script>
<% end%>