<div class="card">
    <%= simple_form_for(@people_associated, url: meu_perfil_member_access_index_path, method: :post, html: { class: "", role: "form" }) do |f| %>
    <%= errors @people_associated if @people_associated.errors.any? %> 

    <div role="tabpanel">
        <ul class="tab-nav" role="tablist">
            <li class="active">
                <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Dados</a>
            </li>
            
        </ul>

        <div class="tab-content p-t-0 p-b-0">
            <div role="tabpanel" class="tab-pane active" id="personal">
                <div class="card-header">
                    <h2><i class="zmdi zmdi-face"></i> Dados Pessoais</h2>
                </div>

                <div class="card-body card-padding">

                    <%= f.hidden_field :number_registration %>
                    <div class="row">
                        <div class="col-sm-4" id="photo_cam">
                            <% if @people_associated.photo?  %>
                            <div class="col-sm-12">                      
                                <div id="preview_photo" class="fg-line">
                                    <%= image_tag @people_associated.photo_url %>
                                </div>                           
                            </div>
                            <% end %>

                            <div class="col-sm-12">                        
                                <div class="fg-line">
                                    <div id="my_camera" class="<%= @people_associated.photo? ? 'hide' : '' %>"></div>
                                    <%= f.input :photo, as: :hidden %> 

                                    <div id="pre_take_buttons" class="content-actions" style="<%= @people_associated.photo? ? 'display: none' : '' %>">

                                        <a href="javascript:void(take_snapshot())" class="btn bgm-blue btn-icon waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="bottom" title="Capturar"><i class="zmdi zmdi-camera"></i></a>

                                    </div>

                                    <div id="post_take_buttons" style="<%= !@people_associated.photo? ? 'display: none' : '' %>" class="content-actions">

                                        <a href="javascript:void(cancel_preview())" class="btn btn-danger btn-icon waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="bottom" title="Voltar"><i class="zmdi zmdi-arrow-back"></i></a>
                                    </div>
                                </div>                                                 
                            </div>                    
                        </div>

                        <div class="col-sm-8">
                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <%= f.label :affiliate_date, class: "fg-label m-b-1" %> <br>
                                    <%= f.label @people_associated.affiliate_date ? I18n.l(@people_associated.affiliate_date) : '', class: "fg-label m-b-1" %>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group fg-line">   
                                    <%= f.label :hollering_registration, class: "fg-label  m-b-1" %><br>
                                    <%= f.label @people_associated.hollering_registration, class: "fg-label  m-b-1" %>  
                                </div>
                            </div>

                            <div class="col-sm-12">    
                                <div class="form-group fg-line ">
                                    <%= f.label :name, class: "fg-label" %>
                                    <%= f.input :name, input_html: {class: "input-sm form-control fg-input", autocomplete: 'off'}, label: false %>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="cpf form-group fg-line">
                                    <%= f.label :cpf, class: "fg-label" %>
                                    <%= f.input :cpf, input_html: {class: 'input-sm form-control fg-input input-mask mask-cpf', "data-mask": "000.000.000-00" , "data-id": @people_associated.id }, label: false %>   
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group fg-line ">
                                    <%= f.label :rg, class: "fg-label" %>
                                    <%= f.input :rg, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group fg-line ">
                                    <%= f.label :dispatcher_organ, class: "fg-label" %>
                                    <%= f.input :dispatcher_organ, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                                </div>
                            </div>

                            <div class="col-sm-6">    
                                <div class="form-group fg-line">
                                    <%= f.label :email, class: "fg-label" %>
                                    <%= f.input :email, input_html: {class: "input-sm form-control fg-input"}, label: false %>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group fg-line">
                                    <%= f.label :phone, class: "fg-label" %>
                                    <%= f.input :phone, input_html: {class: "input-sm form-control fg-input mask-phone-fixo", "data-mask": "(00) 0000-0000"}, label: false %>                        
                                </div>
                            </div>

                              <div class="col-sm-6">
                                <div class="form-group fg-line">
                                    <%= f.label :cell_phone1, class: "fg-label" %>
                                    <%= f.input :cell_phone1, input_html: {class: "input-sm form-control fg-input mask-phone", "data-mask": "(00) 0000-0000"}, label: false %>                        
                                </div>
                            </div>

                              <div class="col-sm-6">
                                <div class="form-group fg-line">
                                    <%= f.label :cell_phone2, class: "fg-label" %>
                                    <%= f.input :cell_phone2, input_html: {class: "input-sm form-control fg-input mask-phone", "data-mask": "(00) 0000-0000"}, label: false %>                        
                                </div>
                            </div>

                        </div>

                    </div>      


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <%= f.label :spouse, class: "fg-label" %>
                                <%= f.input :spouse, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                            </div>
                        </div> 

                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <%= f.label :mother, class: "fg-label" %>
                                <%= f.input :mother, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                            </div>
                        </div> 

                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <%= f.label :father, class: "fg-label" %>
                                <%= f.input :father, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                            </div>
                        </div> 
                        <div class="col-sm-6">
                            <div class="form-group fg-line">
                                <%= f.label :place_birth, class: "fg-label" %>
                                <%= f.input :place_birth, input_html: {class: "input-sm form-control fg-input"}, label: false  %>

                            </div>
                        </div>
                    </div>    

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group fg-line">
                                <%= f.label :birthdate, class: "fg-label m-b-1" %>
                                <input type='text' class="form-control mask-date" name="people_associated[birthdate]" value="<%=@people_associated.birthdate ? I18n.l(@people_associated.birthdate) : ''%>">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group fg-line">
                                <%= f.label :gender, class: "fg-label" %>
                                <%= f.input :gender, collection: PeopleAssociated::GENDERS, input_html: {class: "selectpicker"}, label: false %>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group fg-line">
                                <%= f.label :breed, class: "fg-label" %>
                                <%= f.input :breed, collection: PeopleAssociated::BREED, input_html: {class: "selectpicker", "data-live-search": true}, label: false %>
                            </div>
                        </div> 

                        <div class="col-sm-3">
                            <div class="form-group fg-line">
                                <%= f.label :marital_status, class: "fg-label" %>
                                <%= f.input :marital_status, collection: PeopleAssociated::MARITAL_STATUS, input_html: {class: "selectpicker", "data-live-search": true}, label: false %>
                            </div>
                        </div>
                    </div>                    

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group fg-line">
                                <%= f.label :scholarity, class: "fg-label m-b-4" %>
                                <%= f.input :scholarity, collection: PeopleAssociated::SCHOLARITY, input_html: {class: "selectpicker", "data-live-search": true}, label: false %>
                            </div>
                        </div>   

                        <div class="col-sm-3">
                            <div class="input-group">
                                <%= f.label :office_id, class: "fg-label" %>

                                <% if @allowed_create_office %>
                                <%= link_to "javascript::", class: "input-group-addon last create_office" do %>
                                <i class="zmdi zmdi-plus"></i>
                                <% end %>                                
                                <% end %>                                
                            </div>

                            <div class="form-group fg-line">                             
                               <%= f.association :office, input_html: {class: "selectpicker", "data-live-search": true}, label: false  %>
                           </div>
                       </div>

                       <div class="col-sm-3">
                        <div class="input-group">
                            <%= f.label :occupation_id, class: "fg-label" %>
                            <% if @allowed_create_occupation %>
                            <%= link_to "javascript::", class: "input-group-addon last create_occupation" do %>
                            <i class="zmdi zmdi-plus"></i>
                            <% end %>                                
                            <% end %>                                
                        </div>                            

                        <div class="form-group fg-line">
                           <%= f.association :occupation, input_html: {class: "selectpicker", "data-live-search": true}, label: false  %>
                       </div>
                   </div>

                   <div class="col-sm-3">   
                    <div class="input-group">
                        <%= f.label :department, class: "fg-label" %>

                        <% if @allowed_create_department %>
                        <%= link_to "javascript::", class: "input-group-addon last create_department" do %>
                        <i class="zmdi zmdi-plus"></i>
                        <% end %>                                
                        <% end %>                                
                    </div>
                    
                    <div class="form-group fg-line ">
                      <%= f.association :department, input_html: {class: "selectpicker", "data-live-search": true}, label: false %>
                  </div>
              </div>                 
          </div>

          <div class='row'>

            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <%= f.label :profession, class: "fg-label" %>
                    <%= f.input :profession, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>


            <div class="col-sm-3">   
                    <div class="input-group">
                        <%= f.label :workplace, class: "fg-label" %>

                        <% if @allowed_create_workplace %>
                        <%= link_to "javascript::", class: "input-group-addon last create_workplace" do %>
                        <i class="zmdi zmdi-plus"></i>
                        <% end %>                                
                        <% end %>                                
                    </div>
                    
                    <div class="form-group fg-line ">
                      <%= f.association :workplace, input_html: {class: "selectpicker", "data-live-search": true}, label: false %>
                  </div>
              </div>        

            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <%= f.label :admission_date, class: "fg-label m-b-1" %>
                    <input type='text' class="form-control mask-date" name="people_associated[admission_date]" value="<%=@people_associated.admission_date ? I18n.l(@people_associated.admission_date) : '' %>">
                </div>
            </div>
        </div>
    </div>


    <div class="card-header">
        <h2><i class="zmdi zmdi-pin"></i> Endereço</h2>
    </div>


    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group fg-line">
                    <%= f.label :address, class: "fg-label" %>
                    <%= f.input :address, input_html: {class: "input-sm form-control fg-input"}, label: false %>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group fg-line">    
                    <%= f.label :complement, class: "fg-label" %>   
                    <%= f.input :complement, input_html: {class: "input-sm form-control fg-input"}, label: false  %>                                         
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group fg-line">    
                    <%= f.label :number, class: "fg-label" %> 
                    <%= f.input :number, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group fg-line">   
                    <%= f.label :zipcode, class: "fg-label" %>                     
                    <%= f.input :zipcode, input_html: {class: 'input-sm form-control fg-input mask-cep', "data-mask": "00000-000"}, label: false %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group fg-line"> 
                    <%= f.label :burgh, class: "fg-label" %>
                    <%= f.input :burgh, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group fg-line">                        
                    <%= f.label :city, class: "fg-label" %>
                    <%= f.input :city, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group fg-line">     
                    <%= f.label :state, class: "fg-label" %>                   
                    <%= f.input :state, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>
        </div>                        
    </div>


    <div class="card-header">
        <h2><i class="zmdi zmdi-collection-text"></i> Outras informações</h2>
    </div>


    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group fg-line">     
                    <%= f.label :title_voter, class: "fg-label" %>                   
                    <%= f.input :title_voter, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group fg-line">     
                    <%= f.label :zone_voter, class: "fg-label" %>                   
                    <%= f.input :zone_voter, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group fg-line">     
                    <%= f.label :section_voter, class: "fg-label" %>                   
                    <%= f.input :section_voter, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group fg-line">     
                    <%= f.label :bond, class: "fg-label" %>                   
                    <%= f.input :bond, collection: PeopleAssociated::BOND, input_html: {class: "selectpicker", "data-live-search": true}, label: false %>
                </div>
            </div>

            <div class="col-sm-4">
                <div id="start_registration" class="form-group fg-line" style="display:<%=@people_associated.situation == 3 ? 'block' : 'none' %>;">     
                    <%= f.label :start_registration, class: "fg-label m-b-1" %>
                    <input type='text' class="form-control mask-date start_registration" name="people_associated[start_registration]" value="<%=@people_associated.start_registration ? I18n.l(@people_associated.start_registration) : ''%>">
                </div>
            </div> 

            <div class="col-sm-4">
                <div id="parading_date" class="form-group fg-line" style="display:<%=@people_associated.situation == 2 ? 'block' : 'none' %>;">     
                    <%= f.label :parading_date, class: "fg-label m-b-1" %>
                    <input type='text' class="form-control mask-date parading_date" name="people_associated[parading_date]" value="<%=@people_associated.parading_date ? I18n.l(@people_associated.parading_date) : ''%>">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group fg-line">
                    <%= f.label :validity_card, class: "fg-label m-b-1" %><br>
                   <label><%=  @people_associated.validity_card ? I18n.l(@people_associated.validity_card, format: :custom_date) : '' %></label>

                </div>
            </div>            
        </div>       
    </div>

    <div class="card-header">
        <h2><i class="zmdi zmdi-collection-text"></i> Dados de acesso</h2>
    </div>


    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group fg-line">     
                    <%= f.label :username, class: "fg-label" %>                   
                    <%= f.input :username, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group fg-line">     
                    <%= f.label :password, class: "fg-label" %>                   
                    <%= f.input :password, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group fg-line">     
                    <%= f.label :password_confirmation, class: "fg-label" %>                   
                    <%= f.input :password_confirmation, input_html: {class: "input-sm form-control fg-input"}, label: false  %>
                </div>
            </div>
        </div>
    </div>
</div>   


<div class="card-body card-padding">
    <%= f.button :submit, "Atualizar", class: "btn bgm-green waves-effect" %>
    <%= link_to "Cancelar", '/area-associado', class: "btn bgm-red waves-effect" %>
</div>        
</div>           
<% end %>    
</div>



<script type="text/javascript">
    $(document).ready(function(){
        loadSelectPicker();

        $("#people_associated_cpf").on('blur', function() {
            var _this = $(this);
            var url = "/associados/find_by_cpf?cpf="+_this.val();
            $.getJSON( url, function( data ) {
                if ( data.in_use && _this.attr('data-id') != data.people_associated.id ) {
                    notify('CPF está sendo usado, <br>'+data.people_associated.name, 'danger');
                }
            });
        });   


        $("#people_associated_situation").on('change', function() {
            if( parseInt($(this).find(":selected").val()) == 3 ) {
                $("#start_registration").show();
                $("#parading_date").hide();
                $(".parading_date").val('');
            } else if( parseInt($(this).find(":selected").val()) == 2 ) {
                $("#parading_date").show();
                $("#start_registration").hide();
                $(".start_registration").val('');
            } else {
                $("#start_registration").hide();
                $("#parading_date").hide();
                $(".start_registration").val('');
                $(".parading_date").val('');
            }
        });    

        
        loadMaxYearBlur();
        function loadMaxYearBlur() {
	    	$('input.max_year').blur(function() {
	    		var key = $(this).attr('data-token');
				var _birthdate = $('.birthdate_'+key).val();
				var _max_year = $(this).val();

				if (_max_year.length > 0 && _birthdate.length > 0 ) {
		  			var validate_year = moment(_birthdate, "DD-MM-YYYY").add(parseInt(_max_year), 'years')
		  			$('.benefit_until_'+key).val(moment(validate_year).format('DD/MM/YYYY'));
				}
			});
		}

            
    });

    $(function() {
        var hash = window.location.hash;
        if ( hash ) 
            hash && $('ul.tab-nav a[href="' + hash + '"]').tab('show');
    });
</script>
