<div class="card">  
  <%= simple_form_for(@department, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= f.error_notification %>
  <div class="card-header">
    <h2><i class="fa fa-cube"></i> Dados <%= Department.model_name.human %></h2>
  </div>

  <div class="card-body card-padding">
    <div class="row">

      <div class="col-sm-12">    
        <div class="fg-line ">
          <%= f.label :name, class: "fg-label" %>
          <%= f.input :name, input_html: {class: "input-sm form-control fg-input"}, label: false %>
        </div>
      </div>

      <div class="col-sm-12 m-t-20">            
        <div class="fg-line">    
          <%= f.label :description, class: "fg-label" %> 
          <%= f.input :description, input_html: {class: "form-control"}, label: false %>
        </div>

      </div>
    </div>
  </div>

  <div class="card-body card-padding">
    <%= submit_tag 'Criar e adicionar', class: "btn bgm-teal waves-effect", name: 'create_and_add' if !edit_mode? %>
    <%= f.button :submit, class: "btn bgm-green waves-effect" %>
    <%= link_to "Cancelar", departments_path, class: "btn bgm-red waves-effect" %>
  </div>  
  <% end %>    
</div>

