<div class="card">
  <div class="card-header ch-alt m-b-20">                                    
    <%= link_to new_segment_path, class: 'btn bgm-green btn-float waves-effect' do %>
    <i class="zmdi zmdi-plus"></i>
    <% end %>

    <h2><i class="fa fa-user-md"></i> <%=  Segment.model_name.human(:count => 2) %></h2>
  </div>

  <div class="card-body card-padding">       
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th></th>       
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @segments) do |segment| %>
            <td><%= segment.name %></td>           
            <td style="width: 200px;">
              <%= link_to segment, class: "btn bgm-orange waves-effect" do %>
                <%= content_tag(:i, nil, class: "zmdi zmdi-eye") %>
              <% end %>
              
              <%= link_to edit_segment_path(segment), class: "btn btn-info waves-effect" do %>
                <%= content_tag(:i, nil, class: "zmdi zmdi-edit") %>
              <% end %>

              <%= link_to segment, method: :delete, data: { confirm: I18n.t('default_messages.confirm')  } , class: "btn btn-danger waves-effect" do %>
                <%= content_tag(:i, nil, class: "zmdi zmdi-delete") %>
              <% end %>
          <% end %>
        </tbody>
      </table>
     </div> 

    <%= will_paginate @segments, renderer: BootstrapPagination::Rails %>                                                             
  </div>
</div>
