<div class="card">
  <div class="card-body card-padding">
    <%= simple_form_for(@heritage_group, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <%= f.error_notification %>

    <div class="form-group fg-float">
      <div class="fg-line">              
        <%= f.input :name, input_html: {class: "input-sm form-control fg-input"}, label: false %> 
        <%= f.label name, class: "fg-label" %>  
      </div>
    </div>



    <%= f.button :submit, class: "btn bgm-green waves-effect" %>     

    <% end %>    
  </div>
</div>

