<div class="card">  
  <%= simple_form_for(@bank_account, html: { class: "", role: "form" }) do |f| %>
  <%= f.error_notification %>
  <div class="card-header">
    <h2><i class="zmdi zmdi-store"></i> Dados <%= BankAccount.model_name.human %></h2>
  </div>

  <div class="card-body card-padding">
    <div class="row">
      
      <div class="col-sm-4">    
        <div class="form-group fg-line ">
          <%= f.label :name, class: "fg-label" %>
          <%= f.input :name, input_html: {class: "input-sm form-control fg-input"}, label: false %>
        </div>
      </div>

      <div class="col-sm-4">    
        <div class="form-group fg-line ">
          <%= f.label :agency, class: "fg-label" %>
          <%= f.input :agency, input_html: {class: "input-sm form-control fg-input"}, label: false %>
        </div>
      </div>

      <div class="col-sm-2">    
        <div class="form-group fg-line ">
          <%= f.label :account_number, class: "fg-label" %>
          <%= f.input :account_number, input_html: {class: "input-sm form-control fg-input"}, label: false %>
        </div>
      </div>          
    </div>
  </div>


  <div class="card-body card-padding">
    <%= submit_tag 'Criar e adicionar', class: "btn bgm-teal waves-effect", name: 'create_and_add' if !edit_mode? %>
    <%= f.button :submit, class: "btn bgm-green waves-effect" %>
    <%= link_to "Cancelar", bank_accounts_path, class: "btn bgm-red waves-effect" %>
  </div>    

  <% end %>    
</div>
