<div class="card">
    <%= simple_form_for(@room, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <%= f.error_notification %>
    <div class="card-body card-padding">

      <div class="form-group fg-float">
        <div class="fg-line">              
          <%= f.input :name, input_html: {class: "input-sm form-control fg-input"}, label: false %> 
          <%= f.label :name, class: "fg-label" %>  
        </div>
      </div>
    </div>

      <div class="card-body card-padding">
        <%= f.button :submit, class: "btn bgm-green waves-effect" %>
        <%= link_to "Cancelar", rooms_path, class: "btn bgm-red waves-effect" %>
      </div> 
    <% end %>      
</div>

