<%= simple_form_for(@effort, html: { class: "form-horizontal", role: "form" }, remote: true) do |f| %>
<%= f.error_notification %>
<div id='effort_error'></div>
<div class="card-body">
  <div class="row">

          <div class="col-sm-12">
            <div class="form-group fg-float">
              <div class="fg-line">              
                <%= f.input :name, input_html: {class: "input-sm form-control fg-input"}, label: false %> 
                <%= f.label :name, class: "fg-label" %>  
              </div>
            </div>
          </div>

          <div class="col-sm-2">
              <div class="checkbox m-b-15">
                <label>
                  <%= f.check_box :to_describe %>
                  <i class="input-helper"></i> 
                  <%= Effort.human_attribute_name :to_describe %>                            
                </label>
              </div>        
            </div>      
          </div>
        </div>
  </div>
</div>

<div class="modal-footer">
  <%= f.button :submit, onclick: "showPreLoader()", class: "btn bgm-green waves-effect" %>     
  <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
</div>  
<% end %>