<div id="filterrific_results">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= PeopleAssociated.human_attribute_name(:birthdate) %></th>
        <th><%= PeopleAssociated.human_attribute_name(:name) %></th>              
        <th><%= PeopleAssociated.human_attribute_name(:address) %></th>              
        <th><%= PeopleAssociated.human_attribute_name(:workplace) %></th>              
        <th><%= PeopleAssociated.human_attribute_name(:office_id) %></th>                                    
        <th><%= PeopleAssociated.human_attribute_name(:phone) %></th>                                    
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @birthdays) do |people_associated| %>
        <td><%=I18n.l(people_associated.birthdate, format: :custom_short) if people_associated.birthdate%></td>
        <td><%= people_associated.name %></td>                            
        <td><%= people_associated.full_address.split(",").reject { |c| c.blank? }.size > 0 ? people_associated.full_address : ""  %></td>                           
        <td><%= people_associated.workplace.name if people_associated.workplace.present? %></td>                            
        <td><%= people_associated.office.name if people_associated.office.present? %></td>                            
        <td><%= people_associated.cell_phone1 %></td>                            
      <% end %>
    </tbody>
  </table>

  <% will_paginate @birthdays, renderer: BootstrapPagination::Rails if false %>
  <br>
  <p><b>Total:</b><%= @birthdays.count %></p>
</div>