<div id="filterrific_results">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= "Associado/Dependente" %></th>  
        <th><%= "Data" %></th>              
        <th><%= "Horário" %></th>              
        <th><%= "Profissional" %></th>                      
        <th><%= "Serviço" %></th>                                                  
        <th><%= "Confirmado" %></th>                                                  
        <th><%= "Compareceu" %></th>                                                  
        <th><%= "Cancelado" %></th>                                                  
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @calls) do |cal| %>
        <td><%= cal.people_associated ? cal.people_associated.name : (cal.dependent ?  "#{cal.dependent.name}, #{cal.dependent.degree_of_kinship_name} de #{cal.dependent.people_associated.name}"  : 'Sem vínculo com associado') %></td> 
        <td><%=l cal.start_datetime, format: :custom %></td>                            
        <td> <%=l cal.start_datetime, format: :time %> - <%=l cal.end_datetime, format: :time %></td>                            
        <td><%= cal.appointment_book.professional.name %></td>                                            
        <td><%= cal.appointment_book.professional.function_name %></td>
        <td><%= cal.confirmed ? "Sim" : "Não" %></td>
        <td><%= cal.showed ? "Sim" : "Não" %></td>
        <td>
          <%= cal.canceled ? "Sim" : "Não" %><br>
          <% if cal.canceled %>
            <small><strong><%=l cal.updated_at, format: :custom_with_time %></strong></small><br>   
            <small><strong><%= cal.canceled ? cal.observation : ''%></strong></small>         
          <% end %>      
        </td>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @calls, renderer: BootstrapPagination::Rails %>
</div>