<% @customer_configuration = CustomerConfiguration.current %>
<div id="header">
    <div style="display: table; font-family: Arial;"> 
		<span style="width: 100px; height: 110px; padding: 10px;"><!-- margin-right: 20px; --> </span>
		<div style="display: table-cell;vertical-align: top;width: 100%; padding-right: 20px;">
			<h2 style="font-size: 17px;"><%= @customer_configuration.name %></h2>
			<div style="border-bottom: 1px solid #000;"><!--height: 75px;-->
				<img src="/assets/logo_in_dash.jpeg" style="width: 50px;float: left;">
				<div style="display: table; font-size: 13px;">
					<div style="display: table-cell; padding: 0 15px; ">
						<span style="display: block;"><b>Endereço:</b> <%= @customer_configuration.address %></span>
						<span style="display: block;"><b>Cidade:</b> <%= @customer_configuration.city %></span>
						<span style="display: block;"><b>CNPJ:</b> <%= @customer_configuration.cnpj %></span>
						<span style="display: block;"><b>Telefone:</b> <%= @customer_configuration.phone %></span>
					</div>
					<div style="display: table-cell;">
						<span style="display: block;"><b>Bairro:</b> <%= @customer_configuration.street %></span>
						<span style="display: block;"><b>UF:</b> <%= @customer_configuration.state %></span>
						<span style="display: block;"><b>Data de Fundação:</b> <%=l @customer_configuration.date_fundation %></span>
						<span style="display: block;"><b>Celular:</b> <%= @customer_configuration.cell_phone %></span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>




<div id="outer">
    <div id="content">
    	<div class="inner">   
			<h3 style='text-align: center;'> DECLARAÇÃO PARA FINS DE COMPROVAÇÃO DE DEPENDENTE </h3>
			<p style="text-align: justify;">Eu, <%= @p.name.upcase %>, brasileiro(a), maior, portador(a) do RG nº <%= @p.rg %>  <%= @p.dispatcher_organ %>, Servidor(a) Público(a) Municipal, efetivo no cargo de <%= @p.office.name if @p.office.present? %>, com matrícula nº <%= @p.hollering_registration %>, admissão em <%=l @p.admission_date if @p.admission_date.present? %>, lotado(a) na <%= @p.department.name if @p.department.present? %>, com efetivo exercício no Departamento de <%= @p.workplace.name if @p.workplace.present? %>, residente e domiciliado(a) na <%= @p.full_address %>, DECLARO que <%= @dependents.collect { |dependent| dependent.name }.join(', ') if @dependents.count > 0 %> <%= @dependents.count > 1 ? 'residem em minha casa e estão' : 'reside em minha casa e esta' %> sob minha dependência econômica, para fins do que dispõe o Artigo 1º do Regimento Interno do Sindicato dos Servidores Públicos Municipais.</p>


			<p style="text-align: justify; font-size: 16px;">Por ser a expressão da verdade, firmo a presente.</p>


			<br>
			<br>

			<div style="margin-rigth: 0px; float: right;">
				<p style='font-size: 16px;'><span >Sorriso/MT, <%=l Date.today, format: :long %>. </span></p>
				<br>
				<br>

			</div>
		</div>
	</div>
</div>
	
<div id="footer">
	<p style='text-align: center; font-size: 16px;'>
		________________________________________<br>
		<%= @p.name.titleize %>
	</p>
	<% if @p.degree_of_kinship_married.present? %>
		<p style='text-align: center; font-size: 16px;'>
			________________________________________<br>
			<%= @p.degree_of_kinship_married.name %>
		</p>
	<% end %>
	
</div>
	
<%= render "people_associateds/css_docs" %>